<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <form action="/re" method="post">
        <input type="hidden" name="id" th:value="${memo.id}">
        <div class="form-group">
            <label for="data">데이터</label>
            <input type="text" id="data" name="data" th:value="${memo.data}">
        </div>
        <button type="submit">수정</button>
    </form>
</div>
<button onclick="goBack()">뒤로가기</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>