<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <form action="/memos/new" method="post">
        <div class="form-group">
            <label for="data">데이터</label>
            <input type="text" id="data" name="data" placeholder="내용을 입력하시오"th:value="${memo.data}">
        </div>
        <button type="submit">등록</button>
    </form>
</div>
<button onclick="goBack()">뒤로가기</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>